.awardList{
  width: 100vw;
  li{
    display: flex;
    padding: 0 2vw;
    span{
      text-align: center;
      font-size: 12px;
      line-height: 2em;
      color: #ada1da;
    }
    span:nth-child(1){
      flex: 1;
    }
    span:nth-child(2){
      flex: 1.5;
    }
    span:nth-child(3){
      flex: 1;
    }
    span:nth-child(4){
      flex: 2.5;
    }
  }
  li:nth-of-type(2n + 1){
    background: rgba(45, 43, 92, .5);
  }
  li:first-child{
    background: #2d2b5c;
    color: #e2c4fe;
  }
}